.app-title
{
    background-color: white;
    font-size: 79px;
    text-align: center;
    padding: 12px;
    margin-left: -8px;
    margin-right: -8px;
    font-family: 'Modak', cursive;
    height: 50px;
    line-height: 0.8;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.menu-item {
    width: 460px;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 5px 5px 7px 1px #0000008a;
    border: 2px solid #08123d;


}

.menu-item:hover .menu-image {
    transform: scale(1.4) rotate(09deg);

}


.menu-image {
    height: 160px;
    background-size: contain;
    background-position: center;
    transition: ease-in-out 0.3s;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 15px;
}

.menu-item-name {
    padding: 10px;
    font-size: 27px;
    font-family: sans-serif;
    font-weight: bold;
    background: #aebcbf;
    background: linear-gradient(45deg, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
    border-top: 2px solid #08123d;
}

.menu-stars {
    float: right;
}

.menu-stars img {
    height: 12px;
    width: 12px;
}

.over-hidden {
    overflow: hidden;
    background-color: white;
}